<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Password</title>
  <link rel="stylesheet" href="/css/password.css">
</head>
<body class="body">
  <div class="container">
    <h3>Enter Password</h3>
    <% if (error) { %>
      <p style="color: red;">Incorrect password. Please try again.</p>
    <% } %>
    <form action="" method="POST">
      <input type="password" id="password" name="password" placeholder="Enter password" required>
      <button type="submit" class="stnbtn">Submit</button>
    </form>
  </div>
</body>
</html>
