.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background: #eae1fe;
  position: relative;
}
#password {
  background: #c3aff7;
  margin-top: 38px;
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
  padding-right: 50px;
  width: 100%;
  height: 30px;
}
.stnbtn {
  background: #764ce4;
  color: #fff;
  display: inline-block;
  font-size: 40px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 46%;
  height: 45px;
  margin: 40px auto;
  font-size: 13px;
  border-radius: 50px;
  transition: 0.5s all;
}

.container {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  background: #fcfcfc;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (min-width: 769px) {
  /* styles for desktop screens */
  #password {
    max-width: 400px;
  }
}
